@import '../../abstracts/abstracts';

/*
* Custom styles for usage with WP admin
* styles here are added not in template markup but in WordPress
* Dashboard > Appearance > Menus > Screen Options > CSS Classes
*/

.color-invert {
  a {
    color: #ffffff !important;
  }
}

.no-border-bottom > .level-0.open {
  border-bottom: none;
}

@media (min-width: $screen-size-l) {
  .color-invert {
    a {
      color: #1a1a1a !important;
    }
  }
}
