@import '../../abstracts/abstracts';

.site {
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-branding {
    img {
      width: auto;
      height: 60px;
    }
  }

  &-branding_header {
    margin: 1rem;
  }
}

@media (min-width: $screen-size-l) {
  .site-branding_header {
    margin: 2.4rem 5rem 0;
    background-color: #cdcdcd;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
