@import '../../abstracts/abstracts';

.site {
  &-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  &-branding {
    img {
      width: auto;
      height: 88px;
    }
  }

  &-branding_header {
    margin: 2.8rem 1rem 1rem 1rem;
  }
}

@media (min-width: $screen-size-l) {
  .site-branding_header {
    margin: 2.9rem 5rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
