@import '../../abstracts/abstracts';

@media (min-width: $screen-size-l) {
  .desktop-secondary_menu {
    #social-menu {
      margin: 0 0.75rem 0 0;
      padding: 0;

      a {
        font-size: 1.5rem;
        margin-left: 0.75rem;
        color: #000000;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}
