@import '../../abstracts/abstracts';

.site-footer {
  form {
    input,
    textarea {
      border: 1px solid #ffffff;
    }

    label,
    span {
      width: 100%;
    }

    input[type='submit'] {
      background-color: #fcf9f9;
      border-radius: 0;
      height: 56px;
      width: 100%;
    }
  }
}

@media (min-width: $screen-size-l) {
}
