@import '../../abstracts/abstracts';
@import '../../abstracts/abstracts';

.site-footer {
  &_mobile-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
