@import '../../abstracts/abstracts';

.site-footer {
  background: rgb(239, 113, 57);
  background: linear-gradient(
    0deg,
    rgba(239, 113, 57, 1) 0%,
    rgba(17, 134, 137, 1) 70%,
    rgba(53, 157, 159, 1) 100%
  );

  a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }

  h2 {
    font-family: $font__header;
    letter-spacing: 0.8px;
  }

  &_desktop {
    display: none;
  }

  &_mobile {
    margin: 0 1rem;
  }
}

@media (min-width: $screen-size-l) {
  .site-footer {
    &_desktop {
      display: flex;
      padding: 4rem 0 1rem;
    }

    &_desktop-content {
      display: flex;
    }

    &_mobile {
      display: none;
    }

    &_desktop-left {
      flex: 1.2;
      margin-right: 8rem;
    }

    &_desktop-right {
      flex: 1;
    }
  }
}

.footer_fineprint {
  font-size: 0.75rem;
  margin: 1rem 0 0.75rem;
  color: #ffffff;
}
