@import '../../abstracts/abstracts';

.site-footer {
  padding: 0 1rem;
  background-color: lightseagreen;
  a {
    text-decoration: none;
  }

  h2 {
    font-family: $font__header;
  }

  &_desktop {
    display: none;
  }
}

@media (min-width: $screen-size-l) {
  .site-footer {
    &_desktop {
      display: flex;
    }

    &_desktop-content {
      display: flex;
    }

    &_mobile {
      display: none;
    }

    &_desktop-left {
      flex: 1.2;
      margin-right: 8rem;
    }

    &_desktop-right {
      flex: 1;
    }
  }
}

.footer_fineprint {
  font-size: 0.75rem;
}
