@import '../../abstracts/abstracts';
@import '../../abstracts/abstracts';

.site-footer {
  .custom-logo-link {
    img {
      height: 140px;
      width: auto;
    }
  }

  #social-menu {
    margin: 1.5rem 0 2rem;
    padding: 0;

    .fa {
      font-size: 34px;
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &_eu {
    img {
      height: 48px;
      width: auto;
    }
  }
}

@media (min-width: $screen-size-l) {
}
